<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="statusLogin; else loginTemplate">
    <h1>Welcome, {{displayName}}!</h1>
    
    <ion-item *ngFor="let item of arrData; let i = index">
      <ion-label><ion-icon [name]="myIcon" [color]="myIconColor"></ion-icon> {{item.name}}</ion-label>
      <ion-toggle (ionChange)="toggleUpdate(item)" [(ngModel)]="item.status"></ion-toggle>
    </ion-item>

    <p><button ion-button (click)="logoutUser()">Logout From Google</button></p>
  </div>
  <ng-template #loginTemplate>
    <button ion-button block color="danger" (click)="login()">
      <ion-icon name="logo-googleplus"></ion-icon>
      Login with Google
    </button>
  </ng-template>
</ion-content>
